* {box-sizing: border-box;}

:root {
--iframeHeight: 450px;
}

html, body {
width: 100%;
height: 100%;
background: white;
padding: 0;
margin: 0;
}


html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


/* {1} - settings header: */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /*background-color: #ad3d3d;*/
  border-radius: 0px 0px 5px 5px;
  border-color: black;
  display: flex;
  justify-content: space-around; 		    /* Align horizontal */ /*space-around space-evenly*/
  align-items: center;   			        /* Align vertical   */
  margin: 0px;
  padding: 10px;
  /*background: linear-gradient(#ffffff, #ffffff 50%, #f5f5f5 90%);*/
  z-index: 4;
}

.menu {
  display: flex;
  /*flex: 1 1 0;*/
  gap: 20%;
  /* list-style: none; */
  align-items: center;
  /* margin: 5px; */
  /*padding: 5px;*/
  /*block-size: fit-content;*/
}

/*
.nav {
  block-size: fit-content;
  display: flex;
  justify-content: space-around; 
}*/

.nav ul {
  display:flex;
  list-style: none;
  /*justify-content: space-between; */
  /*align-items: center;*/
  /*justify-content: space-between; */
  /*padding: 0px;*/
  /*justify-content: center;*/
  align-items: center;
  padding: 0px;
  /*margin: 10px;*/
  
}

.font-logo {
  font-family: Lack;
  font-size: 30px;
  font-weight: 700ph;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Lack Line", arial;
}
 
header a {
  font-family:"Helvetica Neue", Arial;
  text-decoration: auto;
  color:black;
}
  
.nav ul li {
  padding: 0.5rem;
}
  
img {
  width: 50px;
  height: 50px;
  /* border-radius: 0.375rem !important; */
 }

/* {2} - settings main: */

main {
  position: absolute; /*fixed absolute*/
  width: 100%;
  height: fit-content;
  left: 0px;
  top: 0px;
  /* height: fit-content; */
  scroll-behavior: smooth;

  /*Debug: */
  /*border: 5px solid rgb(139 171 38 / 77%);*/ /*optional*/

  /*Debug:*/
  border: 5px solid rgb(139 171 38 / 77%);
  /*background: #256055;*/
  z-index: 1;
  visibility: visible;           /* hidden ,  visible*/
  /*text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;*/
 }

.corners {
  position: absolute;
  z-index: 6;
  height: 30vh;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%) ; /*repeat(2, 25%)*/
	  grid-template-areas:
	  "i1 i2"
	   "i4 i3";
  align-items: center; /*Выравнивание по высоте */

  /*Debug: */
  /*border: 3px solid blue;*/
}

@keyframes an_1 {
	from {
		bottom: 0%;
	  /*width: 50px;*/
	  /*height: 50px;*/
	  /*background-color: #F498AD;*/
	}
	to {
	  /*width: 200px;*/
	  /*height: 200px;*/
	  /*background-color: #2E9AFF;*/
	}
}

.layout {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: auto;
  height: 100%;

  /*Debug:*/
  /*border: 2px solid gray;*/
  /*background: #e0e40c;*/
  z-index: 1;
  visibility: visible;           /* hidden ,  visible*/
}

iframe {
  position: fixed;
  z-index: 7;
  /* width: 50%; */
  /* height: 50%; */
  height: var(--iframeHeight); 
  vertical-align: middle;
  /*top: 25%;
  left: 25%;*/
  border-style: none;
  /*background-color: #c61a1a;*/
  border: 2px solid white;
  border-radius: 5px;
  /*visibility: hidden;*/

  justify-content: center; 
  align-items: center;

  opacity: 0;
  /*border: none;*/

  animation: fadeInUp 0.5s ease-out forwards;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  from {
	  opacity: 0;
	  transform: translateY(20px);
  }

  to {
	  opacity: 1;
	  transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
	  opacity: 1;
	  transform: translateY(0);
  }
  to {
	  opacity: 0;
	  transform: translateY(20px);

  }
}

@media only screen and (min-width: 512px) {
iframe {
  width: 500px;

  /*Debug:*/
  /*background-color: magenta;*/
}
}

@media only screen and (max-width: 512px) {
iframe {
  width: 98%;

  /*Debug:*/
  /*background-color: #56d61d;*/
}
}




footer {
  /*position: fixed;
  bottom: 0;
  left: 0;*/
  position: absolute;

  display: flex;
  flex-direction: column;

  /*min-height: 100vh;*/

  margin-top: auto;

  bottom: 0;
  left: 0;

  

  width: 100%;
  height: 10%;
  
  justify-content: space-between; 		/* Align horizontal */ /*space-around space-evenly*/
  align-items: center;   			        /* Align vertical   */

  /*Debug:*/
  /*border: 2px solid gray;*/
}

/*footer { position: fixed; bottom: 0; width: 100%}*/