* {
  box-sizing: border-box;
}

:root {
  --iframeHeight: 450px;
}

html, body {
  width: 100%;
  height: 100%;
  background: #ccc;
  padding: 0;
  margin: 0;
}


html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}


/* {1} - settings header: */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #ad3d3d;
	border-radius: 0px 0px 5px 5px;
	border-color: black;
	display: flex;
	justify-content: space-around; 		    /* Align horizontal */ /*space-around space-evenly*/
	align-items: center;   			        /* Align vertical   */
	margin: 0px;
	padding: 10px;
	background: linear-gradient(#ffffff, #ffffff 50%, #f5f5f5 90%);
	z-index: 4;
}

.menu {
	display: flex;
	/*flex: 1 1 0;*/
	gap: 20%;
	/* list-style: none; */
	align-items: center;
	/* margin: 5px; */
	/*padding: 5px;*/
	/*block-size: fit-content;*/
}

/*
.nav {
	block-size: fit-content;
	display: flex;
	justify-content: space-around; 
}*/

.nav ul {
	display:flex;
	list-style: none;
	/*justify-content: space-between; */
	/*align-items: center;*/
	/*justify-content: space-between; */
	/*padding: 0px;*/
	/*justify-content: center;*/
	align-items: center;
	padding: 0px;
	/*margin: 10px;*/
	
}

.font-logo {
	font-family: Lack;
	font-size: 30px;
	font-weight: 700ph;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-family: "Lack Line", arial;
}

a {
	font-family:"Helvetica Neue", Arial;
	text-decoration: none;
	color:black;
}

.nav ul li {
	padding: 0.5rem;
}

img {
	width: 50px;
	height: 50px;
	border-radius: 0.375rem !important;
}

/* {2} - settings main: */

main {
	position: absolute; /*fixed absolute*/
	width: 100%;
	height: auto;
	left: 0px;
	top: 0px;
	/*height: fit-content;*/

	scroll-behavior: smooth;

	/*Debug: */
	/*border: 5px solid rgb(139 171 38 / 77%);*/ /*optional*/

	/*Debug:*/
	border: 5px solid rgb(139 171 38 / 77%);
	/*background: #256055;*/
	z-index: 1;
	visibility: visible;           /* hidden ,  visible*/

	/*text-align: center;
	display: flex;
	flex-direction: column;
	vertical-align: center;
	justify-content: center;*/
}

/* {2.1} - settings section 1: */

section {
	scroll-snap-align: start end;
	scroll-snap-stop: always;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.section_1 {
	position: relative;
	width: 100%;
	height: 92vh;
	
	border: 1px solid black;
}

.corners {
	position: absolute;
	z-index: 6;
	height: 30vh;
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%) ; /*repeat(2, 25%)*/
		grid-template-areas:
		"i1 i2"
		 "i4 i3";
	align-items: center; /*Выравнивание по высоте */

	/*Debug: */
	/*border: 3px solid blue;*/
}

@keyframes an_1 {
  from {
	  bottom: 0%;
    /*width: 50px;*/
    /*height: 50px;*/
    /*background-color: #F498AD;*/
  }
  to {
    /*width: 200px;*/
    /*height: 200px;*/
    /*background-color: #2E9AFF;*/
  }
}

.layout {
	display: flex; 
	justify-content: center; 
	align-items: center;
	width: auto;
	height: 100%;

	/*Debug:*/
	/*border: 2px solid gray;*/
	/*background: #e0e40c;*/
	z-index: 1;
	visibility: visible;           /* hidden ,  visible*/
}

iframe {
	position: fixed;
	z-index: 7;
	/* width: 50%; */
	/* height: 50%; */
	height: var(--iframeHeight); 
	vertical-align: middle;
	/*top: 25%;
	left: 25%;*/
	border-style: none;
	/*background-color: #c61a1a;*/
	border: 2px solid white;
	border-radius: 5px;
	/*visibility: hidden;*/

	justify-content: center; 
	align-items: center;

	opacity: 0;
	/*border: none;*/

	animation: fadeInUp 0.5s ease-out forwards;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(20px);

	}
}

@media only screen and (min-width: 512px) {
  iframe {
	width: 500px;

	/*Debug:*/
    /*background-color: magenta;*/
  }
}

@media only screen and (max-width: 512px) {
  iframe {
	width: 98%;

	/*Debug:*/
    /*background-color: #56d61d;*/
  }
}

/* {5.1} - For Auth */

.body-auth {
	display: flex; 
	flex-direction: column;
	height: 100%;
}

.div_2 {
	width: 100%; 
	background-color: #eceeef; 
	height: 45px; 
	display: flex;
	padding: 10px; 
	gap: 10%; 
	align-items: center;
}

.p_3 {
	margin-bottom: 0;
}

.div_3 {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: initial;
}

form {
	display:flex;
	flex-direction: column;
	
	background-color: #bfb3b3;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	line-height: none;
	/*margin: 10px;*/
	
	gap: 1%;

	justify-content: center; 
	align-items: center;

	font-family: serif;
	font-size: 12pt;
	font-weight: normal;
}

.btn-close {
	float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

/* {5.1} - End For Auth */

.an-1 {
	position:absolute;
	bottom: 5%;

	line-height: 15px;
	
	display: flex;
	flex-wrap:wrap;
	width: 20%;
	flex-direction:row;
	block-size: fit-content;

	text-align: center;
	justify-content: center;

	animation-name: an_1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	/*Debug: */
	/*border: 3px solid cyan;*/
}

.corner_top_left {
	grid-area: i1;
	z-index: 4;
	font-size: 50pt;
	transform: rotateX(-180deg);
}

.corner_top_right {
	grid-area: i2;
	z-index: 4;
	font-size: 50pt;
	transform: rotate(-180deg);
}

.corner_bottom_right {
	grid-area: i3;
	z-index: 4;
	font-size: 50pt;
	transform: rotateY(180deg);
}

.corner_bottom_left {
	grid-area: i4;
	z-index: 4;
	font-size: 50pt;
}

.p_1 {
	position: absolute;
	width: 99.5%;
	z-index: 3;
	block-size: fit-content;
	font-family: Vasek;
	font-size:  15vw;
	transform: scale(2.25);
	color: rgba(234, 86, 87, 1);
	width: fit-content;
	opacity: 50%;
	
	/*Debug:*/
	/*border: 2px solid green;*/
}

.logotype {
	z-index: 4;
	block-size: fit-content;
	font-size: 8vw;
	border-color: black;
	-webkit-text-stroke: 3px black;
}

@font-face {
   font-family: Vasek;
   src: url("./../../fonts/vasek.ttf"); /* {} - Менять при изменении путей */
}

/* {2.2} - settings section 2: */

.section_2 {
	position: relative;
	width: 100%;
	height: 92vh;
	/*justify-content: center;
	align-items: center;*/
	border: 1px solid #f01212;
	/*display: flex;*/
}

/* {2.3} - settings section 3: */

.section_3 {
	position: relative;
	width: 100%;
	height: 92vh;
	/*justify-content: center;
	align-items: center;*/
	border: 1px solid #12f08e;
	/*display: flex;*/
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 10%;
	
	justify-content: space-between; 		/* Align horizontal */ /*space-around space-evenly*/
	align-items: center;   			        /* Align vertical   */

	/*Debug:*/
	/*border: 2px solid gray;*/
}