* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  /*background: #ccc;*/
  padding: 0;
  margin: 0;
}

/* {5.1} - For Auth */

.body-reg {
	display: flex; 
	flex-direction: column;
	background-color: #bfb3b3;
}

.div_4 {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: auto; 
	padding: 10px;
	margin: 0;
	justify-content: center;
	align-items: center;
	vertical-align: middle; 

	/*Debug: */
	/*background-color: #eceeef;*/
}

.div_2 {
	width: 100%; 
	background-color: #eceeef; 
	height: 45px; 
	display: flex;
	padding: 10px; 
	gap: 10%; 
	align-items: center;
}

.p_3 {
	margin: 0;
	text-align: center; 
}

.div_3 {
	display: flex;
	flex-direction: column;
	
	padding: initial;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

form {
	display:flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	line-height: none;
	/*margin: 10px;*/
	
	gap: 1%;

	justify-content: center; 
	align-items: center;

	font-family: serif;
	font-size: 12pt;
	font-weight: normal;
}

.btn-close {
	float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

/* {5.1} - End For Auth */

