 
   /* {2.1} - settings section 1: */
  
section {
	scroll-snap-align: start end;
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: fit-content;
}

.section_1 {
	border: 1px solid black;
	width: 100%;
	height: 100vh;
}

button {
	appearance: none;
}
 
 
 /* {5.1} - For Auth */
  
  .body-auth {
	display: flex; 
	flex-direction: column;
	height: 100%;
}

.div_2 {
	width: 100%; 
	background-color: #eceeef; 
	height: 45px; 
	display: flex;
	padding: 10px; 
	gap: 10%; 
	align-items: center;
}

.p_3 {
	margin-bottom: 0;
}

.div_3 {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: initial;
}



.btn-close {
	float: right;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
	text-decoration: none;
}

/* {5.1} - End For Auth */

.an-1 {
	position:absolute;
	bottom: 5%;

	line-height: 15px;
	
	display: flex;
	flex-wrap:wrap;
	width: 20%;
	flex-direction:row;
	block-size: fit-content;

	text-align: center;
	justify-content: center;

	animation-name: an_1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	/*Debug: */
	/*border: 3px solid cyan;*/
}

.corner_top_left {
	grid-area: i1;
	z-index: 4;
	font-size: 50pt;
	transform: rotateX(-180deg);
}

.corner_top_right {
	grid-area: i2;
	z-index: 4;
	font-size: 50pt;
	transform: rotate(-180deg);
}

.corner_bottom_right {
	grid-area: i3;
	z-index: 4;
	font-size: 50pt;
	transform: rotateY(180deg);
}

.corner_bottom_left {
	grid-area: i4;
	z-index: 4;
	font-size: 50pt;
}

.p_1 {
	position: absolute;
	width: 99.5%;
	z-index: 3;
	block-size: fit-content;
	font-family: Vasek;
	font-size:  15vw;
	transform: scale(2.25);
	color: rgba(234, 86, 87, 1);
	width: fit-content;
	opacity: 50%;
	
	/*Debug:*/
	/*border: 2px solid green;*/
}

.logotype {
	z-index: 4;
	block-size: fit-content;
	font-size: 8vw;
	border-color: black;
	-webkit-text-stroke: 3px black;
}

@font-face {
   font-family: Vasek;
   src: url("/assets/frontend/fonts/vasek.ttf"); /* {} - Менять при изменении путей */
}

/* {2.2} - settings section 2: */

.section_2 {
	/*justify-content: center;
	align-items: center;*/
	border: 1px solid #f01212;
	/* display: flex; */
	/*padding: 25%;*/
	padding-top: 5%;
	display: flex;
	align-content: flex-start;
	width: 100%;
}

/* {2.3} - settings section 3: */

.section_3, .section_4 {
	/*justify-content: center;
	align-items: center;*/
	border: 1px solid #12f08e;
	/* display: flex; */
	width: 100%;
	height: 500px; /*Временно*/
}